<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
 	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="Model.User" alias="User"/>
		<typeAlias type="Model.Student" alias="Student"/>
		<typeAlias type="Model.PageBean" alias="PageBean"/>
	</typeAliases>
	<mappers>
		<mapper resource="Mapper/UserMapper.xml" />
		<mapper resource="Mapper/StuMapper.xml" />
	</mappers>
</configuration>





